node_modules
# Keep environment variables out of version control
.env

.vscode
/generated/prisma

/generated/prisma
.yarn/
yarn.lock

# Ignore lockfile from other package managers
package-lock.json
yarn.lock
.pnpm-debug.log

